/*COMMON CSS*/
html, body {
    height: 100%;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

main {
  width:100%;
  height: 87%;
}
footer.page-footer{
  margin-top: 0px;
  padding-top: 0px;
}
/*FIN COMMON CSS*/

div.murZoo{
  overflow: hidden;
  background-image:url(../images/zoo-de-beauval.jpg);
  background-size: 100% auto;
  max-height: 100%;
  overflow: scroll;
}
/*BARRE DE NAV*/
.row{
  margin-bottom: 0px;
}
nav {
  border-bottom: 5px solid #6e17db;
  background-color: white;
}
nav ul a {
  font-size: 18px;
    color: #6e17db;
}
.brand-logo{
  margin-left : 25px;
}
.input-field.search-wrapper{
  width: 30%;
  left: 30%;
  background-color: white;
  height: 40px;
  top: 15%;
}
.input-field input[type=search]+label {
  font-size: 22px;
  top : -10px;
}

.nav-wrapper.recherche{
  width: 25%;
  margin-left: 2%;
    margin-top:20px;
  color: white;
}
.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons{
  font-size: 22px;
  top : -10px;
}
nav .input-field label {
  height: 40px;
}

nav .brand-logo{
  height: 59px;
}
/*FIN BARRE DE NAV*/

/*FOOTER*/
footer.page-footer{
  background: #ffab00; /* Old browsers */
}

/*FOOTER*/

/*COLLECTION ZOO*/
.collection{
  height: 60px;
  padding-top: 8px;
}
.collection img{
  top: -1px;
}
div.collectionZoo{
  width: 25%;
  margin-left: 2%;
  color: black;
}
.collection .collection-item.avatar .title{
  font-size: 20px;
}

/*FIN COLLECTION ZOO*/


.btn{
  background-color: #fab300;
}
.btn:hover, .btn-large:hover{
  background-color: #fccf5e;
}

table.striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #cdb5eb;
}

table i.material-icons{
  color:#6e17db;
}

.blocComment {
  max-height: 200px;
  overflow: scroll;
}
