<div class="murZoo">

  <div class="row messageBloc">
    <div class="col s12 offset-m3 m6">
      <div class="card">
        <form name="lm.blocForm" ng-submit="lm.addMessage()">
          <div class="row">
              <div class="input-field col s12">
                  <input id="message" type="text" class="validate" ng-model="lm.message" required>
                  <label for="message">Ecrire votre message</label>
              </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <button class="btn waves-effect waves-light right" type="submit" name="action">Poster
                      <i class="material-icons right">send</i>
                  </button>
              </div>
          </div>
      </form>
      <div><br/></div>
      </div>
    </div>
  </div>

  <div class="row messageBloc" ng-repeat="review in lm.reviews">
    <div class="col s12 offset-m3 m6">
      <div class="card">
        <div class="author">
        </div>
        <div class="card-content">
          <p>{{review.message}}</p>
        </div>
        <div class="card-action">
          <button class="waves-effect waves-light btn" ng-click="lm.getOne(review)">Commenter</button>
        </div>
        <div class="blocComment">
          <table class="striped" style="width: 75%; margin-left:10%">
            <thead>
              <td style="padding: 20px 20px 20px 20px"><b>Commentaires</b></td>
            </thead>
            <tr ng-repeat="comment in review.comments">
                <td>
                  <!--<div class="right">
                    <a>
                      <i class="material-icons" ng-click="lm.getComment(comment)">mode_edit</i>
                      <i class="material-icons" ng-click="lm.delete(comment)">delete</i>
                    </a>
                  </div>-->
                  <b>{{username}}</b>
                  <p>{{comment.message}}
                </td>
            </tr>
          </table>
        </div>
        <div><br/></div>
      </div>
    </div>
  </div>
  <div id="modalComment" class="modal">
     <div class="modal-content">
        <h5>Commenter la publication</h5>
         <form name="lm.formComment" ng-submit="lm.addComment(comment)">
             <div class="row">
                 <div class="input-field col s12">
                     <input id="title" type="text" class="validate" ng-model="comment.message" required>

                     <label for="title" class="active" >Commentaire</label>
                 </div>
             </div>
            <div class="row">
                 <div class="col s12">
                     <button class="btn waves-effect waves-light right" type="submit" name="action">Ajouter
                         <i class="material-icons right">send</i>
                     </button>
                     <button ng-click="lm.fermeture()" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</button>
                 </div>
             </div>
         </form>
     </div>
  </div>
</div>
<div id="modalEditComment" class="modal">
   <div class="modal-content">
      <h5>Editer votre commentaire</h5>
       <form name="lm.formComment" ng-submit="lm.updateComment(comment)">
           <div class="row">
               <div class="input-field col s12">
                   <input id="title" type="text" class="validate" ng-model="comment.message" required>

                   <label for="title" class="active" >Commentaire</label>
               </div>
           </div>
          <div class="row">
               <div class="col s12">
                   <button class="btn waves-effect waves-light right" type="submit" name="action">Ajouter
                       <i class="material-icons right">send</i>
                   </button>
                   <button ng-click="lm.fermeture()" class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</button>
               </div>
           </div>
       </form>
   </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
 // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
 $('.modal').modal();
 $('#modalComment').modal('open');
 $('#modalComment').modal('close');
});

</script>
